.git
.vscode
.gradle
.idea
.settings
.metadata
bin
build
run
minecraft
eclipse
.classpath
.project
.apt_generated
.apt_generated_tests

*.bat
*.sh
*.iml
*.ipr
*.iws
*.launch
.factorypath

forge*changelog.txt
